/** @format */
@import '../../vars.scss';

.edit-container {
  label,
  input {
    display: block;
    width: 100%;
  }

  > h2 {
    margin-bottom: 40px;
  }

  .edit-input-group {
    margin-bottom: 20px;
  }

  .edit-control-buttons {
    display: flex;
    margin-top: 30px;

    > button {
      &:first-child {
        width: 50%;
        margin-right: 30px;
        background-color: #6c1977;

        > svg {
          filter: invert;
        }

        &:hover {
          background-color: $c-secondary;
        }
      }

      &:last-child {
        width: 50%;
        margin-right: 0px;
      }
    }
  }
}
