/** @format */

@import '../../vars.scss';

button.hover-button {
  background-color: $c-accent;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  z-index: 10;
  right: 25px;
  opacity: 0.85;
  box-shadow: 0 0 15px 0 rgba(black, 0.5);
  transition: all 0.25s ease;

  &:hover {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 5px 15px 0 rgba(black, 0.75);
  }
}
