/** @format */

@import '../../vars.scss';

$space-between: 10px;

.link-tile {
  display: flex;
  background-color: rgba(white, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    transform: scale(1.005);
    box-shadow: 0 10px 0px 0 rgba(black, 0.3);

    .link-tile-title {
      text-decoration: underline;
    }

    .link-tile-controls {
      opacity: 1;
    }
  }

  p {
    margin: 0;
  }

  .link-tile-title {
    font-weight: 600;
    margin-bottom: $space-between;
  }

  .link-tile-description {
    margin-bottom: $space-between;
  }

  .link-tile-tags {
    display: flex;

    >span {
      background-color: rgba(black, 0.5);
      font-weight: 300;
      font-size: 0.9em;
      padding: 2px 4px;
      border-radius: 10px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .link-tile-controls {
    margin-left: auto;
    opacity: 0;
    transition: all 0.25s ease;

    >button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}