@import '../../vars.scss';

.snack-bar-container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: all 0.5s ease-out;

  >.snack-bar {
    display: flex;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 8px;
    align-items: center;

    >svg {
      margin-right: 10px;
    }

    &.info {
      background-color: $c-info;
    }

    &.success {
      background-color: $c-success;
    }

    &.error {
      background-color: $c-error;
    }

  }
}