/** @format */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import './vars.scss';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  background-color: #110413;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  outline: none;
  border-bottom: solid 2px $c-accent;
  background-color: transparent;
  color: white;

  transition: all 0.25s ease;

  &:focus {
    border-bottom: solid 4px $c-accent;
  }
}

a {
  color: white;
  text-decoration: none;
}

.flex {
  display: flex;
}
